@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    font-family: "Nunito",Helvetica,sans-serif;
}

.fondo{
    background: linear-gradient(to right, #08343F, #F9E3D6);
}

.input_none{
    outline: none;
}
::-webkit-scrollbar{
    width: 4px;
    height: 10px;
    
}
::-webkit-scrollbar-thumb{
    background: rgba(15, 126, 143,0.6);
    border-radius: 5px;
}

.custom_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid_pedido{
    display: grid;
    grid-template-columns: 1fr 40px;
    grid-template-rows: 1fr 1fr;
}
.quitar_outline{
    outline: none;
}

.elemento {
    white-space: nowrap; 
    overflow: hidden;       /* Evita que el texto haga un salto de línea */
    text-overflow: ellipsis;    /* Añade los tres puntos (...) al final del texto */
}
/* Para navegadores basados en WebKit (Chrome, Safari, Edge) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
