@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    font-family: "Nunito",Helvetica,sans-serif;
}

.fondo{
    background: linear-gradient(to right, #08343F, #F9E3D6);
}

.input_none{
    outline: none;
}
::-webkit-scrollbar{
    width: 4px;
    height: 10px;
    
}
::-webkit-scrollbar-thumb{
    background: rgba(15, 126, 143,0.6);
    border-radius: 5px;
}

.custom_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}